In [142]:
'''imports'''

from bs4 import BeautifulSoup as bs
import pandas as pd
import collections
import re

In [2]:
def make_soup(file_path):
    '''function takes file path to xml document reads in a uses bs to create and return soup object of the whole file.'''
    content = list()
    # Read the XML file
    with open(file_path, "r", encoding= 'utf-8') as file:
        # Read each line in the file, readlines() returns a list of lines
        content = file.readlines()
        # Combine the lines in the list into a string
        content = "".join(content)
        bs_content = bs(content, "lxml")
        
        return bs_content

In [3]:
def indexed_kopie_line_dict(bs_content):
    '''function takes the soup object outputted from make_soup finds all l labels and uses this information to find all kopie
    labels within them. Returns a list of dictionaries, where each dictionary has 
    three keys.
    text: The text from the line
    index: The index of the line within the text body
    kopie: binary 0/1 where 1 is kopie and 0 is non-kopie tagged'''
    
    #finding all ines ('l' tags)
    everything_results = bs_content.find_all("l")
    
    #creating the list of dictionaries
    dict_list = list()
    n = 0
    everything_results = bs_content.find_all("l")
    for item in list(everything_results):
        item_string = str(item)
        temp_dict =dict()
        n+=1
        if '<kopie' in item_string:
            xml = item.find('kopie')
            temp_dict['text'] = xml.text
            temp_dict['index']= n
            temp_dict['kopie']= 1
            dict_list.append(temp_dict)
            c = collections.Counter(item.text) - collections.Counter(xml.text)                   
            text_diff = ''.join(c.elements())
            if len(text_diff) != 0:
                diff_dict = dict()
                diff_dict['text'] = text_diff
                diff_dict['index'] = n
                diff_dict['kopie'] = 0
                dict_list.append(diff_dict)
        else:
            temp_dict['text'] =item.text
            temp_dict['index'] = n
            temp_dict['kopie'] = 0
            dict_list.append(temp_dict)
            
    return dict_list

In [4]:
def ranges(nums):
    '''finds ranges of consecutive ints in a given sequence'''
    nums = sorted(set(nums))
    gaps = [[s, e] for s, e in zip(nums, nums[1:]) if s+1 < e]
    edges = iter(nums[:1] + sum(gaps, []) + nums[-1:])
    return list(zip(edges, edges))

In [5]:
def get_index_groups(new_df):
    '''Function takes a DataFrame representation of the output of indexed_kopie_line_dict and first seperates the kopies and
    non-kopies before finding the consecutive index ranges for each group. Outputs two objest, each is a list of tuples which
    represent the consecutive index ranges. the first is for kopie and the second is for non-kopie'''
    
    #seperating kopies and non-kopies
    kopie_bool = new_df['kopie'] == 1
    kopie_df = new_df[kopie_bool]
    no_kopie_bool = new_df['kopie'] == 0
    no_kopie_df = new_df[no_kopie_bool]
    
    #getting index ranges
    index_groups_kopie = ranges(kopie_df['index'])
    index_groups_no_kopie = ranges(no_kopie_df['index'])
    
    return index_groups_kopie, index_groups_no_kopie

In [6]:
def collect_row_locs(index_groups_list, new_df):
    '''function takes a list of tuples representing the index groups and finds the location of the rows for the lines within
    the index range in the large df.
    Returns a list of dictionaries with two keys.
    index_range: the tuple representing the the start and end index of the chunk.
    loc_list: the list containing the locations for each of the rows in new_df which are part of the chunk'''
    
    loc_main = list()
    for group in index_groups_list:
        loc_group_dict =dict()
        loc_group_dict['index_range'] = group
        loc_list = list()
        for i in range (group[0],group[1]+1):
            loc_list += list(new_df.loc[new_df['index'] == i].index)
        loc_group_dict['loc_list'] = loc_list
        loc_main.append(loc_group_dict)
        
    return loc_main

In [7]:
def make_collected_list(locs_list, new_df, tag= 'kopie'):
    '''function takes the list of dictionaires outputted from collect_row_locs and uses this information to create and return
    a new list of dictionaires. each dictionary has three keys.
    index_range: the tuple representing the start and end index for the chunk
    kopie: a binary 0/1 where 1 is a kopie tag and 0 is a non-kopie tag
    text: a string of the text taken from all lines in the chunk joined together'''
    
    main_list = list()
    for group_dict in locs_list:
        temp_dict = dict()
        group_text = list(new_df.loc[group_dict['loc_list'], 'text'])
        temp_dict['index_range'] = group_dict['index_range']
        temp_dict['text'] = " ".join(group_text)
        if tag == 'kopie':
            temp_dict['kopie'] = 1
        else:
            temp_dict['kopie'] = 0
        main_list.append(temp_dict)
        
    return main_list

In [8]:
def make_final_df(kopie_list, no_kopie_list):
    '''function takes the two lists of dictionaries obtained from running make_collected_lists on the kopies and non-kopies
    and joins them together before creating and returning a large df with all the information.'''
    
    just_nk_df = pd.DataFrame(no_kopie_list)
    just_k_df = pd.DataFrame(kopie_list)
    
    frames= [just_nk_df, just_k_df]
    concatenated_df = pd.concat(frames)
    
    sorted_df = concatenated_df.sort_values(by ='index_range' )
    
    return sorted_df

In [9]:
def main_function(filepath):
    
    bs_content = make_soup(filepath)
    
    dict_list = indexed_kopie_line_dict(bs_content)
    
    new_df = pd.DataFrame(dict_list)
    
    index_groups_kopie = get_index_groups(new_df)[0]
    index_groups_no_kopie = get_index_groups(new_df)[1]
    
    locs_kopie = collect_row_locs(index_groups_kopie, new_df)
    locs_no_kopie = collect_row_locs(index_groups_no_kopie, new_df)
    
    kopie_list = make_collected_list(locs_kopie, new_df, tag= 'kopie')
    no_kopie_list = make_collected_list(locs_no_kopie, new_df, tag= 'no_kopie')
    
    final_df = make_final_df(kopie_list, no_kopie_list)
    
    return final_df

In [10]:
data=main_function("C:/Users/Ellie/Documents/MASTERS/NIAA/new_allie/1791_Purm_Louw_kopie_tei.xml")

In [11]:
data.shape

(617, 3)

In [12]:
len(set(data['text']))

609

In [13]:
data[5:10]

  index_range  kopie                                               text
2  (238, 330)      1  Omtrent het Jaer 1400 onder de Re¬ geringe van...
3  (330, 351)      0  gebragt;  //2 Dus ziet men uijt deze voortgebr...
3  (351, 357)      1  "Meermin, Sijreene, hhieeeeerr    oovvtlgnd is...
4  (357, 428)      0  eene plaets te beslaen" e    att;//3zoodh is d...
4  (428, 445)      1  "Men vind in¬ zzeeeeeelv   ginnhbb de Kronijk ...

In [14]:
print(data.iloc[6]['text'])
print()
print(data.iloc[7]['text'])

gebragt;  //2 Dus ziet men uijt deze voortgebragte bewijzen  dat er, een Wijf, Vrouwe, of Meermin in de Purmer gevangen is, en dat het zeker is dat het geene Natuurelyke Vrouwe is geweest blijkt daar uijt, om dat 'Smenschen natuur niet geschikt is in 't Waetter maar op aarde te leven daar het Water het Element der Meerminnen of der@@@ is /1/ zie H: Soeteboom in zijne Korte Kron: van Purmerend op bladz:, 77 tot 80; /2/ zie Tafereel van Natuur en Konst 13de deel, bladz: 63 /3/ Mr Jan Leoninus te Edam is zijn gevoelen, dat dit schep¬ zel was een wild vrouwperzoon dat stom was, en ge¬ woon was in de ruygte en biezen van de Purmermeer zig te onthouden, geweest is; zie verhaal van de Vuur en Watenood door Dne Kruijthof en Leoninus pag: 4-7; Maer waerom zoo veel deze Meerminnen gemeld, indien het zeker is, dat dezelve maar door inbeeldinge werd voor gestelt, en dat erin de Weereld, zoodanig een Schepzel niet werd gevonden, Een zeker Voornaam Schreijver, meld "Meermin, Sijreene, hhieeeeerr    oovvtlgnd

"Meermin, Sijreene, hhieeeeerr    oovvtlgnd is een ingebeeld dier, dat van ondere Visch, en van boven Mensch zoude zijn, Bij oude schrijvers vind men veelvuldige Wonderen van dat niet in wezen zijnde Schepzel te boek gesteld, alle te belaggelijk om hier eene plaets te beslaen" e    att;//3zoodh

In [24]:
'''Closer to working now, but still having some issues with: 

1) getting the range to make sense consistently (see notebook 02-03).

2) Also need to edit so that isolated sections such as 351 which appears in the non-grouped dataframe twice with 2 seperate text
sections because the whole line is not on kopie tag. The iloc prints above show this issue but also refer to notebook 02-03.'''

'Closer to working now, but still having some issues with: \n\n1) getting the range to make sense consistently (see notebook 02-03).\n\n2) Also need to edit so that isolated sections such as 351 which appears in the non-grouped dataframe twice with 2 seperate text\nsections because the whole line is not on kopie tag. The iloc prints above show this issue but also refer to notebook 02-03.'

In [ ]:
'''Further work still to be done from Allies notes = 
3) There are empty lines in the XML, which results in two chunks of copied text, interrupted by a chunk of non-copied text, 
but that chunk is in fact an empty line. (See for example line 904, 906, 908 in the df.)

4) Once the above issues are fixed, the hyphens (¬) need to be removed from the chunks. 
(There is a line of code for that in my script parse_xml, in the repo I mailed you the link of yesterday.)

5) It will probably be best to remove all punctuation (but not before the lines are indexed!). 
(Again, code for that is in my script parse_xml.)

6) There are some other weird things appearing in the text chunks, which has probably to do something with the parsing.
Not a very urgent matter, but still puzzling. (See for example line 428-225 and 693-699 in the df.)'''

In [15]:
'''UNBOXED MAIN FUNCTION '''

bs_content = make_soup("C:/Users/Ellie/Documents/MASTERS/NIAA/new_allie/1791_Purm_Louw_kopie_tei.xml")
    
dict_list = indexed_kopie_line_dict(bs_content)
    
new_df = pd.DataFrame(dict_list)
    
index_groups_kopie = get_index_groups(new_df)[0]
index_groups_no_kopie = get_index_groups(new_df)[1]
    
locs_kopie = collect_row_locs(index_groups_kopie, new_df)
locs_no_kopie = collect_row_locs(index_groups_no_kopie, new_df)
    
kopie_list = make_collected_list(locs_kopie, new_df, tag= 'kopie')
no_kopie_list = make_collected_list(locs_no_kopie, new_df, tag= 'no_kopie')
    
final_df = make_final_df(kopie_list, no_kopie_list)

In [ ]:
'''Working on 1) getting the range to make sense consistently (see notebook 02-03).'''

In [16]:
new_df[330:360]

     index  kopie                                               text
330    329      1              gevangen daar uijtgetogen, en na Edam
331    330      1                                           gebragt;
332    330      0                                                //2
333    331      0     Dus ziet men uijt deze voortgebragte bewijzen
334    332      0               dat er, een Wijf, Vrouwe, of Meermin
335    333      0         in de Purmer gevangen is, en dat het zeker
336    334      0     is dat het geene Natuurelyke Vrouwe is geweest
337    335      0         blijkt daar uijt, om dat 'Smenschen natuur
338    336      0  niet geschikt is in 't Waetter maar op aarde t...
339    337      0  daar het Water het Element der Meerminnen of d...
340    338      0  /1/ zie H: Soeteboom in zijne Korte Kron: van ...
341    339      0                              op bladz:, 77 tot 80;
342    340      0  /2/ zie Tafereel van Natuur en Konst 13de deel...
343    341      0  /3/ Mr Jan Leoninus te Edam is zijn gevoelen, ...
344    342      0  zel was een wild vrouwperzoon dat stom was, en...
345    343      0  woon was in de ruygte en biezen van de Purmermeer
346    344      0  zig te onthouden, geweest is; zie verhaal van ...
347    345      0  en Watenood door Dne Kruijthof en Leoninus pag...
348    346      0               Maer waerom zoo veel deze Meerminnen
349    347      0      gemeld, indien het zeker is, dat dezelve maar
350    348      0    door inbeeldinge werd voor gestelt, en dat erin
351    349      0        de Weereld, zoodanig een Schepzel niet werd
352    350      0      gevonden, Een zeker Voornaam Schreijver, meld
353    351      1                                "Meermin, Sijreene,
354    351      0                            hhieeeeerr    oovvtlgnd
355    352      1       is een ingebeeld dier, dat van ondere Visch,
356    353      1           en van boven Mensch zoude zijn, Bij oude
357    354      1           schrijvers vind men veelvuldige Wonderen
358    355      1              van dat niet in wezen zijnde Schepzel
359    356      1       te boek gesteld, alle te belaggelijk om hier

In [18]:
loc_list_n=list()
x=330
y=351
for i in range (x,y+1):
    loc_list_n += list(new_df.loc[new_df['index'] == i].index)
    #loc_list_n.append(new_df.loc[new_df['index'] == i].index)
    #loc_list_n.append(i)
    
    
print(loc_list_n)

[331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354]

In [ ]:
'''realised that actually the range issues might not exist. It could be that this overlap etc looks so confusing because of
the repeated indexes where a line has been split into kopie and no-kopie sections. e.g. 331,332 & 353,354 in the example.
work out the split line issue first and then re-check the ranges to see if this is the case.'''

In [ ]:
'''Working on 2) Also need to edit so that isolated sections such as 351 which appears in the non-grouped dataframe twice 
with 2 seperate text sections because the whole line is not on kopie tag. The iloc prints above show this issue but also 
refer to notebook 02-03.'''''

In [27]:
A = collections.Counter(new_df['index'])
min_threshold = 2
my_count = { x: count for x, count in A.items() if count >= min_threshold }
print(my_count)
print(f'Number of repeated line indexes {len(my_count)}. Shows how many times lines are split. And that there are never split more than once.')

{73: 2, 90: 2, 330: 2, 351: 2, 357: 2, 428: 2, 445: 2, 487: 2, 559: 2, 693: 2, 885: 2, 2201: 2, 2235: 2, 2269: 2, 2304: 2, 2336: 2, 2370: 2, 2786: 2, 3298: 2, 3505: 2, 3818: 2, 3832: 2, 4956: 2, 4966: 2, 5002: 2, 5013: 2, 5031: 2, 5132: 2, 5298: 2, 5692: 2, 5695: 2, 5762: 2, 6316: 2, 6715: 2, 7276: 2, 7881: 2, 8132: 2, 8576: 2, 8656: 2, 8662: 2, 8677: 2, 8701: 2, 8723: 2, 9069: 2, 9167: 2, 9224: 2, 9269: 2, 9577: 2, 9637: 2, 9745: 2, 9768: 2, 9986: 2, 10117: 2, 10189: 2, 10465: 2, 13612: 2, 13644: 2, 13654: 2, 13679: 2, 13712: 2, 15111: 2, 15333: 2, 15410: 2, 15640: 2, 15910: 2, 16296: 2, 16543: 2, 16576: 2, 16667: 2, 16679: 2, 16686: 2, 16718: 2, 16734: 2, 16781: 2, 16814: 2, 16846: 2, 16876: 2, 16906: 2, 16935: 2, 16967: 2, 16973: 2, 17126: 2, 17186: 2, 17219: 2, 17250: 2, 17282: 2, 17294: 2, 17314: 2, 17344: 2, 17374: 2, 17403: 2, 17432: 2, 17461: 2, 17494: 2, 17537: 2, 17559: 2, 17592: 2, 17628: 2, 17660: 2, 17750: 2, 17909: 2, 17935: 2, 18293: 2, 18311: 2, 18695: 2, 18748: 2, 18756: 2, 18799: 2, 27701: 2, 28250: 2, 28258: 2, 28267: 2, 28458: 2, 35267: 2, 35934: 2, 36187: 2, 36221: 2, 39001: 2, 39019: 2, 40086: 2, 40373: 2}
Number of repeated line indexes 121. Shows how many times lines are split. And that there are never split more than once.

In [32]:
split_line_indices = list()
for key in my_count:
    split_line_indices.append(key)
    
print(split_line_indices)
print('provides a list of the repeated indices for testing')

[73, 90, 330, 351, 357, 428, 445, 487, 559, 693, 885, 2201, 2235, 2269, 2304, 2336, 2370, 2786, 3298, 3505, 3818, 3832, 4956, 4966, 5002, 5013, 5031, 5132, 5298, 5692, 5695, 5762, 6316, 6715, 7276, 7881, 8132, 8576, 8656, 8662, 8677, 8701, 8723, 9069, 9167, 9224, 9269, 9577, 9637, 9745, 9768, 9986, 10117, 10189, 10465, 13612, 13644, 13654, 13679, 13712, 15111, 15333, 15410, 15640, 15910, 16296, 16543, 16576, 16667, 16679, 16686, 16718, 16734, 16781, 16814, 16846, 16876, 16906, 16935, 16967, 16973, 17126, 17186, 17219, 17250, 17282, 17294, 17314, 17344, 17374, 17403, 17432, 17461, 17494, 17537, 17559, 17592, 17628, 17660, 17750, 17909, 17935, 18293, 18311, 18695, 18748, 18756, 18799, 27701, 28250, 28258, 28267, 28458, 35267, 35934, 36187, 36221, 39001, 39019, 40086, 40373]

In [ ]:
'''What do I want to happen to the duplicates?
-If the index number appears twice then check the kopie tag (0/1).
-Make sure that only the section of the line with the same kopie tag gets added to a fragment, regardless of which order the
same line segments appear in.

This needs to be worked into the function somewhere inbetween collect_row_locs and make_collected_lists'''

In [17]:
kopie_locs = list()
for item in locs_kopie:
    kopie_locs.append(item['loc_list'])
flat_list_k = [item for sublist in kopie_locs for item in sublist]
    
no_kopie_locs = list()
for item in locs_no_kopie:
    no_kopie_locs.append(item['loc_list'])
flat_list_nk = [item for sublist in no_kopie_locs for item in sublist]
    
    
in_both1 = list(set(flat_list_k).intersection(flat_list_nk))
in_both2 = list(set(flat_list_nk).intersection(flat_list_k))

print(len(in_both1))
print(len(in_both2))
assert in_both1 == in_both2
print(len(set(in_both1)))

242
242
242

In [18]:
print(in_both1)

[10241, 10242, 8716, 8717, 17431, 16920, 16921, 17432, 15393, 15394, 8741, 5158, 5159, 8742, 40492, 40493, 35379, 9268, 9269, 566, 567, 16951, 16952, 17462, 17463, 8764, 8765, 9793, 9794, 72, 73, 17492, 17493, 16982, 16983, 5720, 5721, 90, 91, 5724, 5725, 6747, 6748, 9817, 9818, 9314, 9315, 15973, 15974, 15471, 15472, 17522, 17523, 17012, 17013, 18035, 18036, 7309, 7310, 17552, 17553, 17045, 17046, 17052, 17053, 5792, 5793, 27808, 2211, 2212, 27809, 17586, 17587, 701, 702, 2246, 2247, 28358, 28359, 6347, 6348, 5325, 5326, 28367, 28368, 36047, 36048, 39117, 39118, 28377, 28378, 17630, 17631, 16608, 16609, 39136, 39137, 2281, 2282, 7915, 7916, 2802, 2803, 3315, 3316, 17653, 17654, 3837, 3838, 16642, 16643, 3852, 2317, 2318, 3853, 40204, 40205, 10518, 10519, 17687, 17688, 2350, 2351, 10036, 10037, 17206, 17207, 17724, 17725, 15170, 15171, 331, 332, 2385, 2386, 15702, 15703, 35380, 17757, 16734, 16735, 17758, 353, 354, 13666, 13667, 360, 361, 16747, 16748, 18798, 18799, 4977, 4978, 16755, 16756, 17267, 17268, 4988, 4989, 894, 895, 13699, 13700, 13710, 13711, 16788, 16789, 17301, 9111, 9112, 9623, 9624, 17302, 28569, 28570, 5025, 5026, 8612, 8613, 16805, 16806, 13736, 13737, 18852, 18853, 5037, 5038, 18861, 432, 433, 18862, 17333, 17334, 10168, 10169, 17848, 17849, 5056, 5057, 450, 451, 3523, 3524, 13770, 13771, 36301, 36302, 9684, 9685, 16853, 16854, 17366, 17367, 18394, 18395, 18905, 18906, 17379, 17380, 8167, 8168, 16360, 16361, 17400, 18008, 493, 494, 18413, 18009, 18414, 36336, 36337, 8693, 8694, 16887, 16888, 17401, 9210, 9211, 8700, 8701]

In [19]:
print(locs_kopie)

[{'index_range': (73, 90), 'loc_list': [72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91]}, {'index_range': (235, 235), 'loc_list': [236]}, {'index_range': (238, 330), 'loc_list': [239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332]}, {'index_range': (351, 357), 'loc_list': [353, 354, 355, 356, 357, 358, 359, 360, 361]}, {'index_range': (428, 445), 'loc_list': [432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451]}, {'index_range': (450, 487), 'loc_list': [456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494]}, {'index_range': (494, 497), 'loc_list': [501, 502, 503, 504]}, {'index_range': (510, 537), 'loc_list': [517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544]}, {'index_range': (540, 559), 'loc_list': [547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567]}, {'index_range': (595, 631), 'loc_list': [603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639]}, {'index_range': (634, 664), 'loc_list': [642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672]}, {'index_range': (669, 672), 'loc_list': [677, 678, 679, 680]}, {'index_range': (678, 689), 'loc_list': [686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697]}, {'index_range': (693, 699), 'loc_list': [701, 702, 703, 704, 705, 706, 707, 708]}, {'index_range': (726, 732), 'loc_list': [735, 736, 737, 738, 739, 740, 741]}, {'index_range': (855, 857), 'loc_list': [864, 865, 866]}, {'index_range': (864, 885), 'loc_list': [873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895]}, {'index_range': (891, 904), 'loc_list': [901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914]}, {'index_range': (906, 906), 'loc_list': [916]}, {'index_range': (908, 910), 'loc_list': [918, 919, 920]}, {'index_range': (912, 915), 'loc_list': [922, 923, 924, 925]}, {'index_range': (917, 944), 'loc_list': [927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954]}, {'index_range': (950, 965), 'loc_list': [960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975]}, {'index_range': (979, 999), 'loc_list': [989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009]}, {'index_range': (2187, 2197), 'loc_list': [2197, 2198, 2199, 2200, 2201, 2202, 2203, 2204, 2205, 2206, 2207]}, {'index_range': (2201, 2231), 'loc_list': [2211, 2212, 2213, 2214, 2215, 2216, 2217, 2218, 2219, 2220, 2221, 2222, 2223, 2224, 2225, 2226, 2227, 2228, 2229, 2230, 2231, 2232, 2233, 2234, 2235, 2236, 2237, 2238, 2239, 2240, 2241, 2242]}, {'index_range': (2235, 2265), 'loc_list': [2246, 2247, 2248, 2249, 2250, 2251, 2252, 2253, 2254, 2255, 2256, 2257, 2258, 2259, 2260, 2261, 2262, 2263, 2264, 2265, 2266, 2267, 2268, 2269, 2270, 2271, 2272, 2273, 2274, 2275, 2276, 2277]}, {'index_range': (2269, 2300), 'loc_list': [2281, 2282, 2283, 2284, 2285, 2286, 2287, 2288, 2289, 2290, 2291, 2292, 2293, 2294, 2295, 2296, 2297, 2298, 2299, 2300, 2301, 2302, 2303, 2304, 2305, 2306, 2307, 2308, 2309, 2310, 2311, 2312, 2313]}, {'index_range': (2304, 2331), 'loc_list': [2317, 2318, 2319, 2320, 2321, 2322, 2323, 2324, 2325, 2326, 2327, 2328, 2329, 2330, 2331, 2332, 2333, 2334, 2335, 2336, 2337, 2338, 2339, 2340, 2341, 2342, 2343, 2344, 2345]}, {'index_range': (2336, 2366), 'loc_list': [2350, 2351, 2352, 2353, 2354, 2355, 2356, 2357, 2358, 2359, 2360, 2361, 2362, 2363, 2364, 2365, 2366, 2367, 2368, 2369, 2370, 2371, 2372, 2373, 2374, 2375, 2376, 2377, 2378, 2379, 2380, 2381]}, {'index_range': (2370, 2384), 'loc_list': [2385, 2386, 2387, 2388, 2389, 2390, 2391, 2392, 2393, 2394, 2395, 2396, 2397, 2398, 2399, 2400]}, {'index_range': (2754, 2782), 'loc_list': [2770, 2771, 2772, 2773, 2774, 2775, 2776, 2777, 2778, 2779, 2780, 2781, 2782, 2783, 2784, 2785, 2786, 2787, 2788, 2789, 2790, 2791, 2792, 2793, 2794, 2795, 2796, 2797, 2798]}, {'index_range': (2786, 2796), 'loc_list': [2802, 2803, 2804, 2805, 2806, 2807, 2808, 2809, 2810, 2811, 2812, 2813]}, {'index_range': (3276, 3298), 'loc_list': [3293, 3294, 3295, 3296, 3297, 3298, 3299, 3300, 3301, 3302, 3303, 3304, 3305, 3306, 3307, 3308, 3309, 3310, 3311, 3312, 3313, 3314, 3315, 3316]}, {'index_range': (3490, 3501), 'loc_list': [3508, 3509, 3510, 3511, 3512, 3513, 3514, 3515, 3516, 3517, 3518, 3519]}, {'index_range': (3505, 3540), 'loc_list': [3523, 3524, 3525, 3526, 3527, 3528, 3529, 3530, 3531, 3532, 3533, 3534, 3535, 3536, 3537, 3538, 3539, 3540, 3541, 3542, 3543, 3544, 3545, 3546, 3547, 3548, 3549, 3550, 3551, 3552, 3553, 3554, 3555, 3556, 3557, 3558, 3559]}, {'index_range': (3562, 3605), 'loc_list': [3581, 3582, 3583, 3584, 3585, 3586, 3587, 3588, 3589, 3590, 3591, 3592, 3593, 3594, 3595, 3596, 3597, 3598, 3599, 3600, 3601, 3602, 3603, 3604, 3605, 3606, 3607, 3608, 3609, 3610, 3611, 3612, 3613, 3614, 3615, 3616, 3617, 3618, 3619, 3620, 3621, 3622, 3623, 3624]}, {'index_range': (3706, 3711), 'loc_list': [3725, 3726, 3727, 3728, 3729, 3730]}, {'index_range': (3733, 3743), 'loc_list': [3752, 3753, 3754, 3755, 3756, 3757, 3758, 3759, 3760, 3761, 3762]}, {'index_range': (3767, 3815), 'loc_list': [3786, 3787, 3788, 3789, 3790, 3791, 3792, 3793, 3794, 3795, 3796, 3797, 3798, 3799, 3800, 3801, 3802, 3803, 3804, 3805, 3806, 3807, 3808, 3809, 3810, 3811, 3812, 3813, 3814, 3815, 3816, 3817, 3818, 3819, 3820, 3821, 3822, 3823, 3824, 3825, 3826, 3827, 3828, 3829, 3830, 3831, 3832, 3833, 3834]}, {'index_range': (3818, 3832), 'loc_list': [3837, 3838, 3839, 3840, 3841, 3842, 3843, 3844, 3845, 3846, 3847, 3848, 3849, 3850, 3851, 3852, 3853]}, {'index_range': (3868, 3884), 'loc_list': [3889, 3890, 3891, 3892, 3893, 3894, 3895, 3896, 3897, 3898, 3899, 3900, 3901, 3902, 3903, 3904, 3905]}, {'index_range': (4940, 4952), 'loc_list': [4961, 4962, 4963, 4964, 4965, 4966, 4967, 4968, 4969, 4970, 4971, 4972, 4973]}, {'index_range': (4956, 4966), 'loc_list': [4977, 4978, 4979, 4980, 4981, 4982, 4983, 4984, 4985, 4986, 4987, 4988, 4989]}, {'index_range': (5002, 5013), 'loc_list': [5025, 5026, 5027, 5028, 5029, 5030, 5031, 5032, 5033, 5034, 5035, 5036, 5037, 5038]}, {'index_range': (5031, 5047), 'loc_list': [5056, 5057, 5058, 5059, 5060, 5061, 5062, 5063, 5064, 5065, 5066, 5067, 5068, 5069, 5070, 5071, 5072, 5073]}, {'index_range': (5058, 5073), 'loc_list': [5084, 5085, 5086, 5087, 5088, 5089, 5090, 5091, 5092, 5093, 5094, 5095, 5096, 5097, 5098, 5099]}, {'index_range': (5121, 5132), 'loc_list': [5147, 5148, 5149, 5150, 5151, 5152, 5153, 5154, 5155, 5156, 5157, 5158, 5159]}, {'index_range': (5170, 5171), 'loc_list': [5197, 5198]}, {'index_range': (5187, 5194), 'loc_list': [5214, 5215, 5216, 5217, 5218, 5219, 5220, 5221]}, {'index_range': (5198, 5203), 'loc_list': [5225, 5226, 5227, 5228, 5229, 5230]}, {'index_range': (5274, 5285), 'loc_list': [5301, 5302, 5303, 5304, 5305, 5306, 5307, 5308, 5309, 5310, 5311, 5312]}, {'index_range': (5298, 5321), 'loc_list': [5325, 5326, 5327, 5328, 5329, 5330, 5331, 5332, 5333, 5334, 5335, 5336, 5337, 5338, 5339, 5340, 5341, 5342, 5343, 5344, 5345, 5346, 5347, 5348, 5349]}, {'index_range': (5652, 5663), 'loc_list': [5680, 5681, 5682, 5683, 5684, 5685, 5686, 5687, 5688, 5689, 5690, 5691]}, {'index_range': (5692, 5695), 'loc_list': [5720, 5721, 5722, 5723, 5724, 5725]}, {'index_range': (5762, 5769), 'loc_list': [5792, 5793, 5794, 5795, 5796, 5797, 5798, 5799, 5800]}, {'index_range': (5801, 5802), 'loc_list': [5832, 5833]}, {'index_range': (5891, 5902), 'loc_list': [5922, 5923, 5924, 5925, 5926, 5927, 5928, 5929, 5930, 5931, 5932, 5933]}, {'index_range': (5966, 5981), 'loc_list': [5997, 5998, 5999, 6000, 6001, 6002, 6003, 6004, 6005, 6006, 6007, 6008, 6009, 6010, 6011, 6012]}, {'index_range': (6110, 6111), 'loc_list': [6141, 6142]}, {'index_range': (6117, 6132), 'loc_list': [6148, 6149, 6150, 6151, 6152, 6153, 6154, 6155, 6156, 6157, 6158, 6159, 6160, 6161, 6162, 6163]}, {'index_range': (6214, 6217), 'loc_list': [6245, 6246, 6247, 6248]}, {'index_range': (6219, 6219), 'loc_list': [6250]}, {'index_range': (6252, 6252), 'loc_list': [6283]}, {'index_range': (6294, 6294), 'loc_list': [6325]}, {'index_range': (6316, 6316), 'loc_list': [6347, 6348]}, {'index_range': (6331, 6339), 'loc_list': [6363, 6364, 6365, 6366, 6367, 6368, 6369, 6370, 6371]}, {'index_range': (6422, 6440), 'loc_list': [6454, 6455, 6456, 6457, 6458, 6459, 6460, 6461, 6462, 6463, 6464, 6465, 6466, 6467, 6468, 6469, 6470, 6471, 6472]}, {'index_range': (6462, 6470), 'loc_list': [6494, 6495, 6496, 6497, 6498, 6499, 6500, 6501, 6502]}, {'index_range': (6517, 6545), 'loc_list': [6549, 6550, 6551, 6552, 6553, 6554, 6555, 6556, 6557, 6558, 6559, 6560, 6561, 6562, 6563, 6564, 6565, 6566, 6567, 6568, 6569, 6570, 6571, 6572, 6573, 6574, 6575, 6576, 6577]}, {'index_range': (6552, 6575), 'loc_list': [6584, 6585, 6586, 6587, 6588, 6589, 6590, 6591, 6592, 6593, 6594, 6595, 6596, 6597, 6598, 6599, 6600, 6601, 6602, 6603, 6604, 6605, 6606, 6607]}, {'index_range': (6582, 6603), 'loc_list': [6614, 6615, 6616, 6617, 6618, 6619, 6620, 6621, 6622, 6623, 6624, 6625, 6626, 6627, 6628, 6629, 6630, 6631, 6632, 6633, 6634, 6635]}, {'index_range': (6610, 6629), 'loc_list': [6642, 6643, 6644, 6645, 6646, 6647, 6648, 6649, 6650, 6651, 6652, 6653, 6654, 6655, 6656, 6657, 6658, 6659, 6660, 6661]}, {'index_range': (6644, 6663), 'loc_list': [6676, 6677, 6678, 6679, 6680, 6681, 6682, 6683, 6684, 6685, 6686, 6687, 6688, 6689, 6690, 6691, 6692, 6693, 6694, 6695]}, {'index_range': (6715, 6721), 'loc_list': [6747, 6748, 6749, 6750, 6751, 6752, 6753, 6754]}, {'index_range': (6724, 6733), 'loc_list': [6757, 6758, 6759, 6760, 6761, 6762, 6763, 6764, 6765, 6766]}, {'index_range': (6808, 6809), 'loc_list': [6841, 6842]}, {'index_range': (6844, 6847), 'loc_list': [6877, 6878, 6879, 6880]}, {'index_range': (6874, 6875), 'loc_list': [6907, 6908]}, {'index_range': (6886, 6891), 'loc_list': [6919, 6920, 6921, 6922, 6923, 6924]}, {'index_range': (6976, 6976), 'loc_list': [7009]}, {'index_range': (6978, 6978), 'loc_list': [7011]}, {'index_range': (6980, 6981), 'loc_list': [7013, 7014]}, {'index_range': (6983, 6984), 'loc_list': [7016, 7017]}, {'index_range': (7030, 7030), 'loc_list': [7063]}, {'index_range': (7038, 7038), 'loc_list': [7071]}, {'index_range': (7040, 7040), 'loc_list': [7073]}, {'index_range': (7064, 7064), 'loc_list': [7097]}, {'index_range': (7066, 7067), 'loc_list': [7099, 7100]}, {'index_range': (7119, 7146), 'loc_list': [7152, 7153, 7154, 7155, 7156, 7157, 7158, 7159, 7160, 7161, 7162, 7163, 7164, 7165, 7166, 7167, 7168, 7169, 7170, 7171, 7172, 7173, 7174, 7175, 7176, 7177, 7178, 7179]}, {'index_range': (7166, 7177), 'loc_list': [7199, 7200, 7201, 7202, 7203, 7204, 7205, 7206, 7207, 7208, 7209, 7210]}, {'index_range': (7194, 7194), 'loc_list': [7227]}, {'index_range': (7196, 7196), 'loc_list': [7229]}, {'index_range': (7205, 7211), 'loc_list': [7238, 7239, 7240, 7241, 7242, 7243, 7244]}, {'index_range': (7218, 7219), 'loc_list': [7251, 7252]}, {'index_range': (7221, 7222), 'loc_list': [7254, 7255]}, {'index_range': (7229, 7240), 'loc_list': [7262, 7263, 7264, 7265, 7266, 7267, 7268, 7269, 7270, 7271, 7272, 7273]}, {'index_range': (7247, 7253), 'loc_list': [7280, 7281, 7282, 7283, 7284, 7285, 7286]}, {'index_range': (7258, 7261), 'loc_list': [7291, 7292, 7293, 7294]}, {'index_range': (7266, 7272), 'loc_list': [7299, 7300, 7301, 7302, 7303, 7304, 7305]}, {'index_range': (7276, 7286), 'loc_list': [7309, 7310, 7311, 7312, 7313, 7314, 7315, 7316, 7317, 7318, 7319, 7320]}, {'index_range': (7290, 7299), 'loc_list': [7324, 7325, 7326, 7327, 7328, 7329, 7330, 7331, 7332, 7333]}, {'index_range': (7312, 7321), 'loc_list': [7346, 7347, 7348, 7349, 7350, 7351, 7352, 7353, 7354, 7355]}, {'index_range': (7358, 7369), 'loc_list': [7392, 7393, 7394, 7395, 7396, 7397, 7398, 7399, 7400, 7401, 7402, 7403]}, {'index_range': (7397, 7402), 'loc_list': [7431, 7432, 7433, 7434, 7435, 7436]}, {'index_range': (7522, 7525), 'loc_list': [7556, 7557, 7558, 7559]}, {'index_range': (7653, 7680), 'loc_list': [7687, 7688, 7689, 7690, 7691, 7692, 7693, 7694, 7695, 7696, 7697, 7698, 7699, 7700, 7701, 7702, 7703, 7704, 7705, 7706, 7707, 7708, 7709, 7710, 7711, 7712, 7713, 7714]}, {'index_range': (7878, 7881), 'loc_list': [7912, 7913, 7914, 7915, 7916]}, {'index_range': (8064, 8069), 'loc_list': [8099, 8100, 8101, 8102, 8103, 8104]}, {'index_range': (8073, 8079), 'loc_list': [8108, 8109, 8110, 8111, 8112, 8113, 8114]}, {'index_range': (8109, 8132), 'loc_list': [8144, 8145, 8146, 8147, 8148, 8149, 8150, 8151, 8152, 8153, 8154, 8155, 8156, 8157, 8158, 8159, 8160, 8161, 8162, 8163, 8164, 8165, 8166, 8167, 8168]}, {'index_range': (8143, 8152), 'loc_list': [8179, 8180, 8181, 8182, 8183, 8184, 8185, 8186, 8187, 8188]}, {'index_range': (8154, 8161), 'loc_list': [8190, 8191, 8192, 8193, 8194, 8195, 8196, 8197]}, {'index_range': (8171, 8198), 'loc_list': [8207, 8208, 8209, 8210, 8211, 8212, 8213, 8214, 8215, 8216, 8217, 8218, 8219, 8220, 8221, 8222, 8223, 8224, 8225, 8226, 8227, 8228, 8229, 8230, 8231, 8232, 8233, 8234]}, {'index_range': (8228, 8231), 'loc_list': [8264, 8265, 8266, 8267]}, {'index_range': (8576, 8578), 'loc_list': [8612, 8613, 8614, 8615]}, {'index_range': (8656, 8658), 'loc_list': [8693, 8694, 8695, 8696]}, {'index_range': (8662, 8677), 'loc_list': [8700, 8701, 8702, 8703, 8704, 8705, 8706, 8707, 8708, 8709, 8710, 8711, 8712, 8713, 8714, 8715, 8716, 8717]}, {'index_range': (8701, 8723), 'loc_list': [8741, 8742, 8743, 8744, 8745, 8746, 8747, 8748, 8749, 8750, 8751, 8752, 8753, 8754, 8755, 8756, 8757, 8758, 8759, 8760, 8761, 8762, 8763, 8764, 8765]}, {'index_range': (9069, 9087), 'loc_list': [9111, 9112, 9113, 9114, 9115, 9116, 9117, 9118, 9119, 9120, 9121, 9122, 9123, 9124, 9125, 9126, 9127, 9128, 9129, 9130]}, {'index_range': (9122, 9125), 'loc_list': [9165, 9166, 9167, 9168]}, {'index_range': (9138, 9143), 'loc_list': [9181, 9182, 9183, 9184, 9185, 9186]}, {'index_range': (9167, 9193), 'loc_list': [9210, 9211, 9212, 9213, 9214, 9215, 9216, 9217, 9218, 9219, 9220, 9221, 9222, 9223, 9224, 9225, 9226, 9227, 9228, 9229, 9230, 9231, 9232, 9233, 9234, 9235, 9236, 9237]}, {'index_range': (9199, 9201), 'loc_list': [9243, 9244, 9245]}, {'index_range': (9218, 9224), 'loc_list': [9262, 9263, 9264, 9265, 9266, 9267, 9268, 9269]}, {'index_range': (9269, 9295), 'loc_list': [9314, 9315, 9316, 9317, 9318, 9319, 9320, 9321, 9322, 9323, 9324, 9325, 9326, 9327, 9328, 9329, 9330, 9331, 9332, 9333, 9334, 9335, 9336, 9337, 9338, 9339, 9340, 9341]}, {'index_range': (9302, 9331), 'loc_list': [9348, 9349, 9350, 9351, 9352, 9353, 9354, 9355, 9356, 9357, 9358, 9359, 9360, 9361, 9362, 9363, 9364, 9365, 9366, 9367, 9368, 9369, 9370, 9371, 9372, 9373, 9374, 9375, 9376, 9377]}, {'index_range': (9502, 9509), 'loc_list': [9548, 9549, 9550, 9551, 9552, 9553, 9554, 9555]}, {'index_range': (9516, 9527), 'loc_list': [9562, 9563, 9564, 9565, 9566, 9567, 9568, 9569, 9570, 9571, 9572, 9573]}, {'index_range': (9545, 9547), 'loc_list': [9591, 9592, 9593]}, {'index_range': (9570, 9577), 'loc_list': [9616, 9617, 9618, 9619, 9620, 9621, 9622, 9623, 9624]}, {'index_range': (9602, 9614), 'loc_list': [9649, 9650, 9651, 9652, 9653, 9654, 9655, 9656, 9657, 9658, 9659, 9660, 9661]}, {'index_range': (9624, 9629), 'loc_list': [9671, 9672, 9673, 9674, 9675, 9676]}, {'index_range': (9637, 9638), 'loc_list': [9684, 9685, 9686]}, {'index_range': (9662, 9665), 'loc_list': [9710, 9711, 9712, 9713]}, {'index_range': (9676, 9678), 'loc_list': [9724, 9725, 9726]}, {'index_range': (9732, 9735), 'loc_list': [9780, 9781, 9782, 9783]}, {'index_range': (9740, 9742), 'loc_list': [9788, 9789, 9790]}, {'index_range': (9744, 9745), 'loc_list': [9792, 9793, 9794]}, {'index_range': (9749, 9759), 'loc_list': [9798, 9799, 9800, 9801, 9802, 9803, 9804, 9805, 9806, 9807, 9808]}, {'index_range': (9768, 9771), 'loc_list': [9817, 9818, 9819, 9820, 9821]}, {'index_range': (9803, 9805), 'loc_list': [9853, 9854, 9855]}, {'index_range': (9906, 9910), 'loc_list': [9956, 9957, 9958, 9959, 9960]}, {'index_range': (9986, 9992), 'loc_list': [10036, 10037, 10038, 10039, 10040, 10041, 10042, 10043]}, {'index_range': (10012, 10014), 'loc_list': [10063, 10064, 10065]}, {'index_range': (10059, 10076), 'loc_list': [10110, 10111, 10112, 10113, 10114, 10115, 10116, 10117, 10118, 10119, 10120, 10121, 10122, 10123, 10124, 10125, 10126, 10127]}, {'index_range': (10081, 10097), 'loc_list': [10132, 10133, 10134, 10135, 10136, 10137, 10138, 10139, 10140, 10141, 10142, 10143, 10144, 10145, 10146, 10147, 10148]}, {'index_range': (10099, 10113), 'loc_list': [10150, 10151, 10152, 10153, 10154, 10155, 10156, 10157, 10158, 10159, 10160, 10161, 10162, 10163, 10164]}, {'index_range': (10117, 10127), 'loc_list': [10168, 10169, 10170, 10171, 10172, 10173, 10174, 10175, 10176, 10177, 10178, 10179]}, {'index_range': (10129, 10151), 'loc_list': [10181, 10182, 10183, 10184, 10185, 10186, 10187, 10188, 10189, 10190, 10191, 10192, 10193, 10194, 10195, 10196, 10197, 10198, 10199, 10200, 10201, 10202, 10203]}, {'index_range': (10156, 10185), 'loc_list': [10208, 10209, 10210, 10211, 10212, 10213, 10214, 10215, 10216, 10217, 10218, 10219, 10220, 10221, 10222, 10223, 10224, 10225, 10226, 10227, 10228, 10229, 10230, 10231, 10232, 10233, 10234, 10235, 10236, 10237]}, {'index_range': (10189, 10217), 'loc_list': [10241, 10242, 10243, 10244, 10245, 10246, 10247, 10248, 10249, 10250, 10251, 10252, 10253, 10254, 10255, 10256, 10257, 10258, 10259, 10260, 10261, 10262, 10263, 10264, 10265, 10266, 10267, 10268, 10269, 10270]}, {'index_range': (10222, 10251), 'loc_list': [10275, 10276, 10277, 10278, 10279, 10280, 10281, 10282, 10283, 10284, 10285, 10286, 10287, 10288, 10289, 10290, 10291, 10292, 10293, 10294, 10295, 10296, 10297, 10298, 10299, 10300, 10301, 10302, 10303, 10304]}, {'index_range': (10259, 10268), 'loc_list': [10312, 10313, 10314, 10315, 10316, 10317, 10318, 10319, 10320, 10321]}, {'index_range': (10271, 10280), 'loc_list': [10324, 10325, 10326, 10327, 10328, 10329, 10330, 10331, 10332, 10333]}, {'index_range': (10462, 10465), 'loc_list': [10515, 10516, 10517, 10518, 10519]}, {'index_range': (10745, 10755), 'loc_list': [10799, 10800, 10801, 10802, 10803, 10804, 10805, 10806, 10807, 10808, 10809]}, {'index_range': (10777, 10792), 'loc_list': [10831, 10832, 10833, 10834, 10835, 10836, 10837, 10838, 10839, 10840, 10841, 10842, 10843, 10844, 10845, 10846]}, {'index_range': (10811, 10825), 'loc_list': [10865, 10866, 10867, 10868, 10869, 10870, 10871, 10872, 10873, 10874, 10875, 10876, 10877, 10878, 10879]}, {'index_range': (10854, 10857), 'loc_list': [10908, 10909, 10910, 10911]}, {'index_range': (10884, 10886), 'loc_list': [10938, 10939, 10940]}, {'index_range': (10910, 10925), 'loc_list': [10964, 10965, 10966, 10967, 10968, 10969, 10970, 10971, 10972, 10973, 10974, 10975, 10976, 10977, 10978, 10979]}, {'index_range': (10954, 10963), 'loc_list': [11008, 11009, 11010, 11011, 11012, 11013, 11014, 11015, 11016, 11017]}, {'index_range': (10988, 11000), 'loc_list': [11042, 11043, 11044, 11045, 11046, 

In [20]:
kopie_indices_list = list()
for item in locs_kopie:
    kopie_indices_list.append(item['loc_list'])
flat_kopie_index = [item for sublist in kopie_indices_list for item in sublist]

no_kopie_indices_list = list()
for item in locs_no_kopie:
    no_kopie_indices_list.append(item['loc_list'])
flat_no_kopie_index = [item for sublist in no_kopie_indices_list for item in sublist]

#print(len(flat_kopie_index))
#print(len(flat_no_kopie_index))

in_both_index = list(set(flat_kopie_index).intersection(flat_no_kopie_index))

print(len(in_both_index))
print(in_both_index)

242
[10241, 10242, 8716, 8717, 17431, 16920, 16921, 17432, 15393, 15394, 8741, 5158, 5159, 8742, 40492, 40493, 35379, 9268, 9269, 566, 567, 16951, 16952, 17462, 17463, 8764, 8765, 9793, 9794, 72, 73, 17492, 17493, 16982, 16983, 5720, 5721, 90, 91, 5724, 5725, 6747, 6748, 9817, 9818, 9314, 9315, 15973, 15974, 15471, 15472, 17522, 17523, 17012, 17013, 18035, 18036, 7309, 7310, 17552, 17553, 17045, 17046, 17052, 17053, 5792, 5793, 27808, 2211, 2212, 27809, 17586, 17587, 701, 702, 2246, 2247, 28358, 28359, 6347, 6348, 5325, 5326, 28367, 28368, 36047, 36048, 39117, 39118, 28377, 28378, 17630, 17631, 16608, 16609, 39136, 39137, 2281, 2282, 7915, 7916, 2802, 2803, 3315, 3316, 17653, 17654, 3837, 3838, 16642, 16643, 3852, 2317, 2318, 3853, 40204, 40205, 10518, 10519, 17687, 17688, 2350, 2351, 10036, 10037, 17206, 17207, 17724, 17725, 15170, 15171, 331, 332, 2385, 2386, 15702, 15703, 35380, 17757, 16734, 16735, 17758, 353, 354, 13666, 13667, 360, 361, 16747, 16748, 18798, 18799, 4977, 4978, 16755, 16756, 17267, 17268, 4988, 4989, 894, 895, 13699, 13700, 13710, 13711, 16788, 16789, 17301, 9111, 9112, 9623, 9624, 17302, 28569, 28570, 5025, 5026, 8612, 8613, 16805, 16806, 13736, 13737, 18852, 18853, 5037, 5038, 18861, 432, 433, 18862, 17333, 17334, 10168, 10169, 17848, 17849, 5056, 5057, 450, 451, 3523, 3524, 13770, 13771, 36301, 36302, 9684, 9685, 16853, 16854, 17366, 17367, 18394, 18395, 18905, 18906, 17379, 17380, 8167, 8168, 16360, 16361, 17400, 18008, 493, 494, 18413, 18009, 18414, 36336, 36337, 8693, 8694, 16887, 16888, 17401, 9210, 9211, 8700, 8701]

In [21]:
assert 353 and 354 in in_both_index

In [ ]:
'''Makes sense that there are 242 because there are 121 which are split into two lines e.g. 121x2=242 so the numbers line up'''

In [ ]:
'''Use the in_both_index list to make an exception route in the function kind of like you did with diff_dict to split lines.
OR also try adding a check of the kopie tag in new_df when making collected lists (could work out to be simpler).'''

In [107]:
'''unboxed make_collected_list: trying to add a check for kopie tag in new_df'''

tag= 'no_kopie'
locs_list = locs_no_kopie

def new_collected_lists(new_df, locs_list, tag = 'kopie'):

    main_list = list()
    for group_dict in locs_list:
        temp_dict = dict()

        if tag == 'kopie':
            temp_dict['kopie'] = 1
            kopie_df = new_df.loc[group_dict['loc_list']]
            filtered = kopie_df.loc[kopie_df['kopie']==1]
            group_text = list(filtered['text'])
            temp_dict['text'] = " ".join(group_text) 

        else:
            temp_dict['kopie'] = 0
            no_kopie_df = new_df.loc[group_dict['loc_list']]
            filtered = no_kopie_df.loc[no_kopie_df['kopie']==0]
            group_text= list(filtered['text'])
            temp_dict['text'] = " ".join(group_text) 

        temp_dict['index_range'] = group_dict['index_range']

        main_list.append(temp_dict)

    return main_list

In [109]:
'''UNBOXED MAIN FUNCTION: trying out the new_collected_lists function '''

bs_content = make_soup("C:/Users/Ellie/Documents/MASTERS/NIAA/new_allie/1791_Purm_Louw_kopie_tei.xml")
    
dict_list = indexed_kopie_line_dict(bs_content)
    
new_df = pd.DataFrame(dict_list)
    
index_groups_kopie = get_index_groups(new_df)[0]
index_groups_no_kopie = get_index_groups(new_df)[1]
    
locs_kopie = collect_row_locs(index_groups_kopie, new_df)
locs_no_kopie = collect_row_locs(index_groups_no_kopie, new_df)
    
kopie_list = new_collected_lists(new_df, locs_kopie, tag= 'kopie')
no_kopie_list = new_collected_lists(new_df, locs_no_kopie, tag= 'no_kopie')
    
final_df = make_final_df(kopie_list, no_kopie_list)

In [110]:
final_df[5:10]

  index_range  kopie                                               text
2  (238, 330)      1  Omtrent het Jaer 1400 onder de Re¬ geringe van...
3  (330, 351)      0   //2 Dus ziet men uijt deze voortgebragte bewi...
3  (351, 357)      1  "Meermin, Sijreene, is een ingebeeld dier, dat...
4  (357, 428)      0  e    att;//3zoodh is de Gedaente, en de zeldza...
4  (428, 445)      1  "Men vind in¬ de Kronijk van Schotland /10/ aa...

In [115]:
print(final_df.iloc[6]['text'])
print()
print(data.iloc[6]['text'])

 //2 Dus ziet men uijt deze voortgebragte bewijzen  dat er, een Wijf, Vrouwe, of Meermin in de Purmer gevangen is, en dat het zeker is dat het geene Natuurelyke Vrouwe is geweest blijkt daar uijt, om dat 'Smenschen natuur niet geschikt is in 't Waetter maar op aarde te leven daar het Water het Element der Meerminnen of der@@@ is /1/ zie H: Soeteboom in zijne Korte Kron: van Purmerend op bladz:, 77 tot 80; /2/ zie Tafereel van Natuur en Konst 13de deel, bladz: 63 /3/ Mr Jan Leoninus te Edam is zijn gevoelen, dat dit schep¬ zel was een wild vrouwperzoon dat stom was, en ge¬ woon was in de ruygte en biezen van de Purmermeer zig te onthouden, geweest is; zie verhaal van de Vuur en Watenood door Dne Kruijthof en Leoninus pag: 4-7; Maer waerom zoo veel deze Meerminnen gemeld, indien het zeker is, dat dezelve maar door inbeeldinge werd voor gestelt, en dat erin de Weereld, zoodanig een Schepzel niet werd gevonden, Een zeker Voornaam Schreijver, meld hhieeeeerr    oovvtlgnd

gebragt;  //2 Dus ziet men uijt deze voortgebragte bewijzen  dat er, een Wijf, Vrouwe, of Meermin in de Purmer gevangen is, en dat het zeker is dat het geene Natuurelyke Vrouwe is geweest blijkt daar uijt, om dat 'Smenschen natuur niet geschikt is in 't Waetter maar op aarde te leven daar het Water het Element der Meerminnen of der@@@ is /1/ zie H: Soeteboom in zijne Korte Kron: van Purmerend op bladz:, 77 tot 80; /2/ zie Tafereel van Natuur en Konst 13de deel, bladz: 63 /3/ Mr Jan Leoninus te Edam is zijn gevoelen, dat dit schep¬ zel was een wild vrouwperzoon dat stom was, en ge¬ woon was in de ruygte en biezen van de Purmermeer zig te onthouden, geweest is; zie verhaal van de Vuur en Watenood door Dne Kruijthof en Leoninus pag: 4-7; Maer waerom zoo veel deze Meerminnen gemeld, indien het zeker is, dat dezelve maar door inbeeldinge werd voor gestelt, en dat erin de Weereld, zoodanig een Schepzel niet werd gevonden, Een zeker Voornaam Schreijver, meld "Meermin, Sijreene, hhieeeeerr    oovvtlgnd

In [116]:
print(data.iloc[7]['text'])
print()
print(final_df.iloc[7]['text'])

"Meermin, Sijreene, hhieeeeerr    oovvtlgnd is een ingebeeld dier, dat van ondere Visch, en van boven Mensch zoude zijn, Bij oude schrijvers vind men veelvuldige Wonderen van dat niet in wezen zijnde Schepzel te boek gesteld, alle te belaggelijk om hier eene plaets te beslaen" e    att;//3zoodh

"Meermin, Sijreene, is een ingebeeld dier, dat van ondere Visch, en van boven Mensch zoude zijn, Bij oude schrijvers vind men veelvuldige Wonderen van dat niet in wezen zijnde Schepzel te boek gesteld, alle te belaggelijk om hier eene plaets te beslaen"

In [122]:
new_df[910:920]

     index  kopie                                 text
910    900      1    vatte op dit moment vuur het Ste#
911    901      1  ging af, met den Stamperop dezelve
912    902      1       en Kweste bij deze Jongelingen
913    903      1     de eene genaamt Douwe Van der W#
914    904      1  zijnde eene Frieser van Geboorte, #
915    905      0
916    906      1   een Wieledrajers Baas in deze Stad
917    907      0
918    908      1    oud 19 Jaeren, werden door de St#
919    909      1       per bijde zijne Handen weg ge#

In [ ]:
'''The new version of collected lists works!!!! Use the function new_collected_lists from now on and replace in other versions'''

In [ ]:
'''Working on 3) There are empty lines in the XML, which results in two chunks of copied text, interrupted by a chunk 
of non-copied text, but that chunk is in fact an empty line. (See for example line 904, 906, 908 in the df.)'''

In [128]:
new_df.iloc[915]['text']

''

In [179]:
no_empty_lines = new_df.loc[new_df['text'] != '']

In [137]:
no_empty_lines[910:920]

     index  kopie                                      text
913    903      1          de eene genaamt Douwe Van der W#
914    904      1       zijnde eene Frieser van Geboorte, #
916    906      1        een Wieledrajers Baas in deze Stad
918    908      1         oud 19 Jaeren, werden door de St#
919    909      1            per bijde zijne Handen weg ge#
920    910      1         en door het Buskruijd werd zijn #
922    912      1       gezigt geschroeijd en gebrand, zoo
923    913      1  bij zijn Oogen uijt waeren, en het zel,,
924    914      1       ve onkenbaar was, en had mede de v#
925    915      1                                         S

In [ ]:
'''Got rid of all the empty lines! this should be insterted into the function which generates new_df'''

In [ ]:
'''Working on 4) Once the above issues are fixed, the hyphens (¬) need to be removed from the chunks. 
(There is a line of code for that in my script parse_xml, in the repo I mailed you the link of yesterday.) AND 5) It will 
probably be best to remove all punctuation (but not before the lines are indexed!). (Again, code for that is in my 
script parse_xml.)'''

In [ ]:
'''I want to iterate through the text column and remove all unwanted characters from the strings.'''

In [172]:

for row in no_empty_lines['text'][20:30]:
    no_hyphen = row.replace('¬', '')
    #print(no_hyphen)
    no_punc = re.sub(r'[^\w\s]','',no_hyphen)
    print(no_punc)

nen deze stad voorgevallen dienen Mijne
gedagten waren om het bij het Eerste deel
der kronijk of geschiedenisse dezer stadt
het te laeten berusten maar de voornaeme
en buijtengewoone voorvallen dewelke in deze
korte tijdkring alhier zijn gebeurt heb
ben mijn verpligt om de pen weder op te
vatten om daer door geduurig eene aan
genaeme nagedagtenisse in ons geheu
gen te doen herleeven Het voornaems

In [176]:
for i, row in no_empty_lines.iterrows():
    text = row['text']
    no_hyphen = text.replace('¬', '')
    no_punc = re.sub(r'[^\w\s]','',no_hyphen)
    no_empty_lines.at[i,'text'] = no_punc

In [177]:
no_empty_lines['text'][20:30]

20         nen deze stad voorgevallen dienen Mijne
21       gedagten waren om het bij het Eerste deel
22       der kronijk of geschiedenisse dezer stadt
23        het te laeten berusten maar de voornaeme
24    en buijtengewoone voorvallen dewelke in deze
25         korte tijdkring alhier zijn gebeurt heb
26         ben mijn verpligt om de pen weder op te
27           vatten om daer door geduurig eene aan
28             genaeme nagedagtenisse in ons geheu
29             gen te doen herleeven Het voornaems
Name: text, dtype: object

In [ ]:
'''This now works to remove all hyphens and punctuation in the texts!!! This should be inserted when new_df is created'''